<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<link rel="stylesheet" href="../../css/bootstrap.min.css">
		<link rel="stylesheet" href="../../css/main.css">
		<link rel="stylesheet" href="../../plugins/elementUI/index.css" />
		
		<script src="../../libs/jquery.min.js"></script>
		<script src="../../libs/vue.js"></script>
		<script src="../../plugins/elementUI/index.js"></script>
		<script src="../../plugins/layer/layer.js"></script>
		<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
		<script src="../../js/common.js"></script>
	</head>
	<body>
		<div id="app" v-cloak>
		<div style="margin-top: 20px;margin-left: 20px;">
					<el-form :inline="true" :model="formInline" size="mini" class="demo-form-inline">
				
				
						<el-form-item label="开始日期">
						    
						    <el-date-picker
								size="mini"
								v-model="formInline.time"
								type="datetimerange"
								align="right"
								unlink-panels
								range-separator="至"
								start-placeholder="开始日期"
								end-placeholder="结束日期"
								:picker-options="pickerOptions">
							</el-date-picker>
						</el-form-item>
						<br />
						<el-form-item label="司机">
							<template>
							  <el-select v-model="userId" placeholder="请选择">
							    <el-option
							      v-for="item in driverList"
							      :key="item.userId"
							      :label="item.username"
							      :value="item.userId">
							    </el-option>
							  </el-select>
							</template>
						</el-form-item>
						<el-form-item label="车牌号">
							<template>
							  <el-select v-model="lpn" placeholder="请选择">
							    <el-option
							      v-for="item in carList"
							      :key="item.lpn"
							      :label="item.lpn"
							      :value="item.lpn">
							    </el-option>
							  </el-select>
							</template>
						</el-form-item>
				
						<el-form-item>
							<el-button type="primary" size="mini" @click="query">查询</el-button>
						</el-form-item>
					</el-form>
				</div>
			<div class="yd-nav-tabs-custom">
				<div class="yd-nav-tabs" :class="{'yd-nav-tabs-active':showList}" @click="list">
					临时授权列表
				</div>
			</div>
			<br />
			
			
			<div v-show="showList">
				
				<template>
					<el-table size="" v-loading="loading" :data="tableData" style="width: 100%" >
						
						<el-table-column prop="id" label="id" width="50"></el-table-column>
						<el-table-column prop="username" label="司机"></el-table-column>
						<el-table-column prop="lpn" label="车牌号"></el-table-column>

						<el-table-column label="申请数量">
							<template slot-scope="scope">
								<span style="">{{ scope.row.dooilnum }}</span>
								<span style="margin-left: 2px;font-style: oblique;">L</span>
							</template>
						</el-table-column>
						<!--<el-table-column prop="dooilnum" label="申请数量L"></el-table-column>-->
						<el-table-column prop="createTime" label="申请时间"></el-table-column>
						<el-table-column prop="tradeflag" label="状态" :formatter="dataFormatter"></el-table-column>
						<el-table-column label="操作">
							<template slot-scope="scope">
								<el-button v-show="p.updateShow" v-if="scope.row.tradeflag=='4'"  size="mini" type="primary" @click="updata(scope.$index, scope.row)">审核</el-button>
							</template>
						</el-table-column>
					</el-table>
				</template>
				<div style="height: 40px;"></div>
				<div class="page-footer">
					<div style="">
						<el-pagination class="page-footer-nav" :page-sizes="pageSizes" :current-page="currentPage" :page-size="pageSize"
						 :total="total" layout="total, sizes, prev, pager, next, jumper" @size-change="handleSizeChange" @current-change="handleCurrentChange">
						</el-pagination>
					</div>
				</div>
			</div>
			
			<div v-show="!showList" style="text-align: center;max-width: 600px;margin-top: 30px;">
				
			</div>
				
			<el-dialog title="审核" :visible.sync="judgeOrderDialog" width="50%" @close = "closeDialog">
				<el-form :inline="true" :model="addLine" label-width="100px" class="demo-form-inline" size="mini">
					<el-input v-model="addLine.id" placeholder="" style="width: 300px;display:none;" :disabled="true"></el-input>
					<el-form-item label="结果">
						<el-select v-model="addLine.tradeflag"  style="width: 300px;" clearable >
								<el-option v-for="item in judgeOrder" :key="item.key" :label="item.key" :value="item.val"></el-option>
						</el-select>
					</el-form-item>
				</el-form>
				<div slot="footer" class="dialog-footer">
					<el-button @click="judgeOrderDialog = false">取 消</el-button>
					<el-button type="primary" @click="save" v-loading.fullscreen.lock="fullscreenLoading">确 定</el-button>
				</div>
				
			</el-dialog>	
		</div>

		<script src="../../js/modules/oilOrder/yfytoilorder.js"></script>
	</body>
</html>
<style>
	

</style>
