<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<link rel="stylesheet" href="../../css/bootstrap.min.css">
		<link rel="stylesheet" href="../../css/main.css">
		<link rel="stylesheet" href="../../plugins/elementUI/index.css" />
		
		<script src="../../libs/jquery.min.js"></script>
		<script src="../../libs/vue.js"></script>
		<script src="../../plugins/elementUI/index.js"></script>
		<script src="../../plugins/layer/layer.js"></script>
		<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
		<script src="../../js/common.js"></script>
	</head>
	<body>
		<div id="app" v-cloak>
			<div style="margin-top: 0px;margin-left: 20px;">
				<el-form :inline="true" :model="q" class="demo-form-inline">
					<el-form-item label="ID">
						<el-input v-model="q.id" size="mini" placeholder="ID"></el-input>
					</el-form-item>
					<el-form-item>
						<el-button type="primary" size="mini" @click="query">查询</el-button>
					</el-form-item>
					<el-form-item>
						<el-button v-show="p.exportShow" type="primary" size="mini" @click="exportData">导出数据</el-button>
					</el-form-item>
				</el-form>
			</div>
			<div class="yd-nav-tabs-custom">
				<div class="yd-nav-tabs" :class="{'yd-nav-tabs-active':showList}" @click="list">
					列表
				</div>
				<div class="yd-nav-tabs" v-show="p.addShow" :class="{'yd-nav-tabs-active':!showList}" @click="add">
					{{addOrUpdate}}
				</div>
			</div>
			<br />
			
			
			<div v-show="showList">

				<template>
					<el-table size="" v-loading="tableLoading" :data="tableData" style="width: 100%" >
						
						<el-table-column  prop="id" label="id" width="50"></el-table-column>
						<el-table-column prop="tagName" label="标签名"></el-table-column>
						<el-table-column v-if="tag==true" prop="orgCode" label="机构编号"></el-table-column>
						<el-table-column v-if="tag==true" prop="remark" label="备注"></el-table-column>
						<el-table-column v-if="goodTag==true" prop="price" label="挂牌价格(¥)"></el-table-column>
						<el-table-column v-if="goodTag==true" prop="tagPrice" label="标签价格(¥)"></el-table-column>
						<!--<el-table-column prop="tagPrice" label="标签价格"></el-table-column>-->
						<el-table-column v-if="goodTag==true" prop="goodsName" label="油品名"></el-table-column>
						<el-table-column v-if="goodTag==true" prop="abbreviate" label="油品简称"></el-table-column>
						<!--<el-table-column v-if="goodTag==true" prop="goodsCode" label="油品编号"></el-table-column>-->
						<el-table-column label="操作">
							<template slot-scope="scope">
								<el-button v-show="p.updateShow"  size="mini" type="primary" @click="updata(scope.$index, scope.row)">修改</el-button>
								<el-button v-show="p.deleteShow"  size="mini" type="danger" @click="deleteRow(scope.$index, scope.row)">删除</el-button>
							</template>
						</el-table-column>
					</el-table>
				</template>
				<div style="height: 40px;"></div>
				<div class="page-footer">
					<div style="">
						<el-pagination class="page-footer-nav" :page-sizes="pageSizes" :current-page="currentPage" :page-size="pageSize"
						 :total="total" layout="total, sizes, prev, pager, next, jumper" @size-change="handleSizeChange" @current-change="handleCurrentChange">
						</el-pagination>
					</div>
				</div>
			</div>
			
			<div v-show="!showList" style="text-align: center;max-width: 600px;margin-top: 30px;">
				<el-form :inline="true" :rules="rules" ref="addLine" :model="addLine" label-width="200px" class="demo-form-inline" size="mini">
					
					<el-form-item label="标签名" v-if="goodTag==false" prop="tagName">
						<el-input v-model="addLine.tagName" placeholder="请输入" style="width: 300px;"></el-input>
					</el-form-item>
					<!--<br />-->
					<el-form-item label="备注" v-if="goodTag==false" >
						<el-input v-model="addLine.remark" placeholder="请输入" style="width: 300px;"></el-input>
					</el-form-item>
					<!--<br />-->
					<el-form-item label="标签名" v-if="goodTag==true" prop="tagId">
						<el-select v-model="addLine.tagId"  placeholder="请选择" style="width: 300px;">
							<el-option v-for="item in tags" :key="item.id" :label="item.tagName" :value="item.id">
								<!--<span style="float: left">{{item.tagName}}</span>-->
								<!--<span style="float: right; color: #8492a6; font-size: 13px">{{item.id}}</span>-->
							</el-option>
						</el-select>
					</el-form-item>
					<!--<br />-->
					<el-form-item label="选择油品" v-if="goodTag==true" prop="goodId">
						<el-select v-model="addLine.goodId"  placeholder="请选择" style="width: 300px;">
						<el-option v-for="item in goods" :key="item.id" :label="item.abbreviate" :value="item.id">
							<span style="float: left">油品：{{item.abbreviate}}</span>
							<span style="float: right; color: #8492a6; font-size: 13px">{{item.price}}¥</span>
						</el-option>
					</el-select>

					</el-form-item>
					<!--<br />-->
					<el-form-item label="标签价格(¥)" v-if="goodTag==true" prop="tagPrice">
						<el-input v-model="addLine.tagPrice" placeholder="请输入" style="width: 300px;"></el-input>
					</el-form-item>
					<!--<br />-->
					<!--<el-form-item label="">-->
						<!--<el-input v-model="addLine.e1" placeholder="请输入" style="width: 300px;"></el-input>-->
					<!--</el-form-item>-->
					<!--<br />-->
					<!--<el-form-item label="">-->
						<!--<el-input v-model="addLine.e2" placeholder="请输入" style="width: 300px;"></el-input>-->
					<!--</el-form-item>-->
					<!--<br />-->
					<!--<el-form-item label="">-->
						<!--<el-input v-model="addLine.e3" placeholder="请输入" style="width: 300px;"></el-input>-->
					<!--</el-form-item>-->
					<!--<br />-->
					<!--<div style="height: 30px;"></div>-->
					<el-button type="primary" size="mini" style="width: 100px;" @click="save('addLine')" v-loading.fullscreen.lock="saveLoading">保存</el-button>
					<el-button plain size="mini" @click="list" style="width: 100px;">取消</el-button>
				</el-form>
				
			</div>
				
				
		</div>

		<script src="../../js/modules/goods/yfystag.js"></script>
	</body>
</html>
<style>
	

</style>
