<!DOCTYPE html>
<html>
	<head>
		<title>加油枪管理</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<link rel="stylesheet" href="../../css/bootstrap.min.css">
		<link rel="stylesheet" href="../../css/main.css">
		<link rel="stylesheet" href="../../plugins/elementUI/index.css" />
		
		<script src="../../libs/jquery.min.js"></script>
		<script src="../../libs/vue.js"></script>
		<script src="../../plugins/elementUI/index.js"></script>
		<script src="../../plugins/layer/layer.js"></script>
		<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
		<script src="../../js/common.js"></script>
	</head>
	<body>
		<div id="app" v-cloak>
			<div class="yd-nav-tabs-custom">
				<div class="yd-nav-tabs" :class="{'yd-nav-tabs-active':showList}" @click="list">
					加油枪管理列表
				</div>
				<div class="yd-nav-tabs" v-show="p.addShow" :class="{'yd-nav-tabs-active':!showList}" @click="add">
					添加加油枪管理
				</div>
			</div>
			<br />
			
			
			<div v-show="showList">
				<div style="margin-top: 0px;margin-left: 20px;">
					<el-form :inline="true" :model="q" class="demo-form-inline">
						<el-form-item label="ID">
							<el-input v-model="q.id" size="mini" placeholder="ID"></el-input>
						</el-form-item>
						<el-form-item>
							<el-button type="primary" size="mini" @click="query">查询</el-button>
						</el-form-item>
						<el-form-item>
							<el-button v-show="p.exportShow" type="primary" size="mini" @click="exportData">导出数据</el-button>
						</el-form-item>
					</el-form>
				</div>
				<template>
					<el-table size="" v-loading="loading" :data="tableData" style="width: 100%" >
						
						<el-table-column prop="id" label="id" width="50"></el-table-column>
						<el-table-column prop="orgCode" label="所属部门"></el-table-column>
						<el-table-column prop="gunNo" label="枪号"></el-table-column>
						<el-table-column prop="controllerId" label="智能控制器ID"></el-table-column>
						<el-table-column prop="controllerNo" label="智能控制器编号"></el-table-column>
						<el-table-column prop="tankId" label="罐ID"></el-table-column>
						<el-table-column prop="tankNo" label="罐号"></el-table-column>
						<el-table-column prop="oldPrice" label="老价格"></el-table-column>
						<el-table-column prop="newPrice" label="新价格"></el-table-column>
						<el-table-column prop="updateTime" label="修改时间"></el-table-column>
						<el-table-column prop="updateUser" label="修改人"></el-table-column>
						<el-table-column prop="updateType" label="1.通过商品调价修改 2.通过单枪调价修改"></el-table-column>
						<el-table-column label="操作">
							<template slot-scope="scope">
								<el-button v-show="p.updateShow"  size="mini" type="danger" @click="updata(scope.$index, scope.row)">修改</el-button>
								<el-button v-show="p.deleteShow"  size="mini" type="danger" @click="deleteRow(scope.$index, scope.row)">删除</el-button>
							</template>
						</el-table-column>
					</el-table>
				</template>
				<div style="height: 40px;"></div>
				<div class="page-footer">
					<div style="">
						<el-pagination class="page-footer-nav" :page-sizes="pageSizes" :current-page="currentPage" :page-size="pageSize"
						 :total="total" layout="total, sizes, prev, pager, next, jumper" @size-change="handleSizeChange" @current-change="handleCurrentChange">
						</el-pagination>
					</div>
				</div>
			</div>
			
			<div v-show="!showList" style="text-align: center;max-width: 600px;margin-top: 30px;">
				<el-form :inline="true" :model="addLine" label-width="200px" class="demo-form-inline" size="mini">
					
					<el-form-item label="所属部门">
						<el-input v-model="addLine.orgCode" placeholder="请输入" style="width: 300px;"></el-input>
					</el-form-item>
					<br />
					<el-form-item label="枪号">
						<el-input v-model="addLine.gunNo" placeholder="请输入" style="width: 300px;"></el-input>
					</el-form-item>
					<br />
					<el-form-item label="智能控制器ID">
						<el-input v-model="addLine.controllerId" placeholder="请输入" style="width: 300px;"></el-input>
					</el-form-item>
					<br />
					<el-form-item label="智能控制器编号">
						<el-input v-model="addLine.controllerNo" placeholder="请输入" style="width: 300px;"></el-input>
					</el-form-item>
					<br />
					<el-form-item label="罐ID">
						<el-input v-model="addLine.tankId" placeholder="请输入" style="width: 300px;"></el-input>
					</el-form-item>
					<br />
					<el-form-item label="罐号">
						<el-input v-model="addLine.tankNo" placeholder="请输入" style="width: 300px;"></el-input>
					</el-form-item>
					<br />
					<el-form-item label="老价格">
						<el-input v-model="addLine.oldPrice" placeholder="请输入" style="width: 300px;"></el-input>
					</el-form-item>
					<br />
					<el-form-item label="新价格">
						<el-input v-model="addLine.newPrice" placeholder="请输入" style="width: 300px;"></el-input>
					</el-form-item>
					<br />
					<el-form-item label="修改时间">
						<el-input v-model="addLine.updateTime" placeholder="请输入" style="width: 300px;"></el-input>
					</el-form-item>
					<br />
					<el-form-item label="修改人">
						<el-input v-model="addLine.updateUser" placeholder="请输入" style="width: 300px;"></el-input>
					</el-form-item>
					<br />
					<el-form-item label="1.通过商品调价修改 2.通过单枪调价修改">
						<el-input v-model="addLine.updateType" placeholder="请输入" style="width: 300px;"></el-input>
					</el-form-item>
					<br />
					<div style="height: 30px;"></div>
					<el-button type="primary" size="mini" style="width: 100px;" @click="save" v-loading.fullscreen.lock="saveLoading">保存</el-button>
					<el-button plain size="mini" style="width: 100px;">重置</el-button>
				</el-form>
				
			</div>
				
				
		</div>

		<script src="../../js/modules/equipment/yfysguninfo.js"></script>
	</body>
</html>
<style>
	

</style>
