<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<link rel="stylesheet" href="../../css/bootstrap.min.css">
		<link rel="stylesheet" href="../../css/main.css">
		<link rel="stylesheet" href="../../plugins/elementUI/index.css" />
		
		<script src="../../libs/jquery.min.js"></script>
		<script src="../../libs/vue.js"></script>
		<script src="../../plugins/elementUI/index.js"></script>
		<script src="../../plugins/layer/layer.js"></script>
		<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
		<script src="../../js/common.js"></script>
	</head>
	<body>
		<div id="app" v-cloak>
			<div class="yd-nav-tabs-custom">
				<div class="yd-nav-tabs" :class="{'yd-nav-tabs-active':showList}" @click="list">
					临时授权记录
				</div>
				<!-- <div class="yd-nav-tabs" v-show="p.addShow" :class="{'yd-nav-tabs-active':!showList}" @click="add">
					添加
				</div> -->
			</div>
			<br />
			
			
			<div v-show="showList">
				<div style="margin-top: 0px;margin-left: 20px;">
					<el-form :inline="true" :model="q" class="demo-form-inline" size="mini" >
						<!-- <el-form-item label="部门">
							<el-cascader v-model="q.orgCode" :options="deptOptions" :show-all-levels="false"  :props="deptProps" clearable></el-cascader>
						</el-form-item> -->
						<el-form-item label="石油公司" v-show="p.ocShow">
							<el-select v-model="q.dept.oc" placeholder="请选择" style="width: 200px;" clearable @change="ocChange">
								<el-option v-for="item in dept.oc" :key="item.orgCode" :label="item.departname" :value="item.orgCode"></el-option>
							</el-select>
						</el-form-item>
						<el-form-item label="加油站">
							<el-select v-model="q.dept.s" placeholder="请选择" style="width: 200px;" clearable>
								<el-option v-for="item in dept.s" :key="item.orgCode" :label="item.departname" :value="item.orgCode"></el-option>
							</el-select>
						</el-form-item>
						<el-form-item label="车牌号">
							<el-input v-model="q.lpn" placeholder="车牌号" clearable></el-input>
						</el-form-item>
						<el-form-item label="时间">
							 <el-date-picker
							  v-model="q.time"
							  confirm type="daterange" 
							  align="right"
							  unlink-panels
							  range-separator="至"
							  start-placeholder="开始日期"
							  end-placeholder="结束日期"
							  :picker-options="pickerOptions">
							</el-date-picker>
						</el-form-item>
						<el-form-item>
							<el-button type="primary" @click="query">查询</el-button>
						</el-form-item>
						<el-form-item>
							<el-button v-show="p.exportShow" type="primary" @click="exportData">导出数据</el-button>
						</el-form-item>
					</el-form>
				</div>
				<template>
					<el-table size="" v-loading="tableLoading" :data="tableData" style="width: 100%" >
						
						<el-table-column prop="deptName" label="油站"></el-table-column>
						<el-table-column prop="lpn" label="车辆"></el-table-column>
						<el-table-column prop="authQuantity" label="授权量">
							<template slot-scope="scope">
								<span style="">{{ scope.row.authQuantity }}</span>
								<span v-if="scope.row.authQuantity != '' && scope.row.authQuantity != null" style="margin-left: 2px;font-style: oblique;">L</span>
							</template>
						</el-table-column>
						
						<el-table-column prop="updateUser" label="修改人"></el-table-column>
						<el-table-column prop="updateTime" label="修改时间"></el-table-column>
						
					</el-table>
				</template>
				<div style="height: 40px;"></div>
				<div class="page-footer">
					<div style="">
						<el-pagination class="page-footer-nav" :page-sizes="pageSizes" :current-page="currentPage" :page-size="pageSize"
						 :total="total" layout="total, sizes, prev, pager, next, jumper" @size-change="handleSizeChange" @current-change="handleCurrentChange">
						</el-pagination>
					</div>
				</div>
			</div>
			
			
				
		</div>

		<script src="../../js/modules/auth/yfybvehauthinfo_add.js"></script>
	</body>
</html>
<style>
	

</style>
